<md-card>
  <md-card-title>
    Welcome to Match Two!
  </md-card-title>
  <md-card-subtitle>How to play:</md-card-subtitle>
  <md-card-content>
    <md-list>
      <md-list-item>Choose a card</md-list-item>
      <md-list-item>Then choose another card to see if they match</md-list-item>
      <md-list-item>Game ends when you have found all matches.</md-list-item>
    </md-list>
  </md-card-content>
  <md-card-actions>
    <a routerLink="/play" routerLinkActive="active" md-button color="accent">New Game</a>
  </md-card-actions>

</md-card>
